body {
  font-family: Arial;
}

.card-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.standout {
  box-shadow: black 0px 1px 4px;
}

h1, h2, h3, h4, h5, p {
  text-align: center;
}

@media only screen and (max-width:600px) {
  .card-collection {
    grid-template-columns: 1fr;
  }
}